COOKIES_URL=https://raw.githubusercontent.com/replitprivet-dotcom/82beos-wnw/refs/heads/main/7hwjw.txt
API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
SUPPORT_CHAT=
SUPPORT_CHANNEL=
START_IMG_URL=
PING_IMG_URL=
HELP_IMG_URL=
VDA_API_URL=https://p.savenow.to
VDA_API_KEY=
VDA_AUDIO_QUALITY=320
VDA_VIDEO_FORMAT=1080
YT_SEARCH_API_URL=https://oshi-no-ko-youtube-api.vercel.app/tu
VDA_KEYS_URL=https://raw.githubusercontent.com/replitprivet-dotcom/Key/refs/heads/main/key.js
DISABLE_GIT_UPDATE=1

